{% extends 'base.html.twig' %}

{% block title %}Create new good{% endblock %}

{% block stylesheets %}
    <style>
        .form-group {
            margin-top: 5px;
        }
        .error-list{
            color:red;
        }
    </style>
{%  endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.price) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.photo) }}
        {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.photo) }}
    </div>


    <div class="form-group">
        {{ form_widget(form.save, {'attr' : {'class': 'btn btn-danger'}}) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
