{% extends 'base.html.twig' %}

{% block title %}Good info{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset(good.photo) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ good.name }}</h5>
            <p>{{ good.price }}</p>
            <p class="card-text">{{ good.description }}</p>
            <a href="{{ path('good_update', {'id': good.id}) }}" class="btn btn-danger">Edit</a>
        </div>
    </div>
{% endblock %}
